<div class="row container text-center mx-auto">

    <!-- Últimas películas -->
    <div
        class="col-md-3 mb-5 animate__animated animate__fadeIn"
        *ngFor="let movie of movies"
        (click)="onMovieDetail(movie)"
    >
        <!-- Poster de la película -->
        <img class="img-fluid poster" [src]="movie.poster_path | poster" >
        
        <div>
            <!-- Título de la película -->
            <h3>{{ movie.title }}</h3>

            <div class="row">
                <!-- Calificación por estrellas -->
                <div class="col-9">                    
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.border-star]="fill === 100">
                            <span class="fill-star" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>
                    <ngb-rating
                        [(rate)]= "movie.vote_average"
                        [starTemplate]="t"
                        [readonly]="true"
                        [max]="10"
                    >
                    </ngb-rating>
                </div>

                <!-- Valoración -->
                <div class="col-3 text-white">{{ movie.vote_average | number:'1.1-2' }}</div>  
            </div> 
        </div>
    </div>

</div>