<div class="row text-white info-pelicula-container" *ngIf="pelicula">
    
    <!-- Imagen -->
    <div class="col-md-5 animate__animated animate__fadeInLeft">
        <img class="img-thumbnail" [src]="pelicula.poster_path | poster" [alt]="pelicula.title">
    </div>

    <div class="col-md-7 animate__animated animate__fadeInRight">
        <!-- Título -->
        <div class="my-4">Título: <b>{{ pelicula.title }}</b></div>
        
        <!-- Descripción -->
        <div class="row overview">
            <div class="col-10"> Sinopsis: <b>{{ pelicula.overview }}</b></div>
        </div>
        
        <!-- Valoración -->
        <div class="my-4">
            Valoración: <b class="badge bg-primary">{{ pelicula.vote_average | number:'1.1-2' }}</b>
        </div>

        <!-- Calificación por estrellas -->               
        <div>
            Calificación por estrellas:               
            <ng-template #t let-fill="fill">
                <span class="star" [class.border-star]="fill === 100">
                    <span class="fill-star" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>
            <ngb-rating
                [(rate)]= "pelicula.vote_average"
                [starTemplate]="t"
                [readonly]="true"
                [max]="10"
            >
            </ngb-rating>
        </div>
      
        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-info" (click)="goBack()">Atrás</button>
            </div>
        </div>
    </div>

</div>

<!-- Reparto de actores y actrices --> 
<div class="row mb-4 animate__animated animate__fadeInUp overflow-x-hidden" *ngIf="cast.length > 0">
    <h4 class="mt-5 mb-3">Reparto</h4>
    <div class="col">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
    </div>
</div>

