.swiper-container {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
}

.swiper-button-prev, .swiper-button-next {
    color: white;
}

.movie-description {
    position: absolute;
    width: 100%;
    padding: 5px 30px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}