<nav class="navbar navbar-expand-sm border-bottom border-danger-subtle p-2">
    
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">PELÍCULAS {{ moviesDate | date:'yyyy' }} 🎥</a>
      
        <div class="navbar-toggle" id="navbarSupportedContent">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <div class="d-flex py-2">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Buscar película..."
                    aria-label="Search"
                    (keyup.enter)="buscarPelicula(txtSearch.value)"
                    #txtSearch
                >
                <button
                    class="btn btn-outline-success"
                    type="submit"
                    (click)="buscarPelicula(txtSearch.value)"
                >
                    Buscar
                </button>
            </div>
        </div>
    </div>

</nav>